<div class="container">
  <h1 class="text-center mt-5">
    <span class="border-bottom"><%= @user.nickname %>さんがいいねした投稿</span>
  </h1>
   <div class="card-list-container py-5">
     <%= render "posts/index", posts: @favorite_posts %>
   </div>
</div>