<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<h4>
  Trip & Go outへようこそ！<br>
  このサイトは、旅行先や外出先を共有するアプリです！<br>
  皆様の投稿で、色々なスポットを共有しましょう！
</h4>
<% if user_signed_in? %>
<% else %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
<% end %>