<div class="container">
  <h1 class="text-center mt-5">
    <span class="border-bottom">検索結果一覧</span>
  </h1>
  <div class="row">
    <table class="table mt-5">
          <!--検索対象モデルがUserの時 -->
          <% if @range == "User" %>
            <tbody>
               <tr>
                 <th>ユーザー名</th>
                 <th>年齢層</th>
               </tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= link_to user.nickname, user_path(user.id) %></td>
                  <td><%= user.age %></td>
                </tr>
              <% end %>
            </tbody>
          <% else %>
            <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
            <tbody>
                <tr>
                  <th>場所名</th>
                  <th>コメント</th>
                </tr>
              <% @posts.each do |posts| %>
                <tr>
                  <td><%= link_to posts.place, post_path(posts.id) %></td>
                  <td><%= posts.comment %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
    </table>
  </div>
</div>
