<div class="favorites-buttons">
  <% if posts.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(posts), method: :delete, remote: true, class: "btn btn-danger" do %>
          ♥<%= posts.favorites.count %> いいねを外す
        <% end %>
      </p>
  <% else %>
      <p>
        <%= link_to post_favorites_path(posts), method: :post, remote: true, class: "btn btn-danger" do %>
          ♡<%= posts.favorites.count %> いいねする
        <% end %>
      </p>
  <% end %>
</div>